$colorMain: #dcbb9a;
$colorDg: #ffffff;
$colorHeader: #893c00;
$colorText: #000000;

$imgBorderColor:#893c00;

$briefWidth:420px;
$briefBottom: 5px;
$briefBg: #fadcba;

$colorTableTh: #e0e0e0;
$colorTableTd: #ffffff;

$colorReviewForm: #808080;

$colorLink: #3d70a1;
