$colorMain: rgba(198, 238, 252, 0.53);
$colorDg: #3b3b3b;
$colorHeader: #f5c70f;
$colorText: #ffffff;

$imgBorderColor: #f5c70f;

$briefWidth: 100%;
$briefBottom: 25px;
$briefBg: #fff178;

$colorTableTh: #94a34e;
$colorTableTd: #677d01;

$colorReviewForm: #fccd10;

$colorLink: #fccd10;

$defaultTransformText: uppercase;
